.App {
  text-align: center;
}

.logo {
  width: 250px;
  margin: 12px;
}

body {
  background-image: url('../assets/medcloudBG.png');
  background-repeat: no-repeat;
  background-size: 1920px;
  background-position: top -100px right 0px;
}
@media (min-width: 1925px) {
  body {
    background-size: cover;
  }
}
